/* ===== HOME SECTION 1: DoraChann Portfolio (Right Align) ===== */
.home-1 {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-1__canvas-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.home-1__canvas-bg canvas {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.6;
  transform: scale(1.25);
  transform-origin: center center;
}

.home-1__bg {
  display: none;
}

.home-1__content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 106px;
  padding-top: 200px;
  position: relative;
  top: 110px;
  z-index: 2;
}

.home-1__portfolio {
  text-align: right;
  position: relative;
}

.home-1__name {
  color: #FFF;
  text-align: right;
  font-family: Handjet;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home-1__name .chann {
  color: #FFF;
  font-family: Handjet;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home-1__title {
  color: #FFF;
  text-align: right;
  font-family: Handjet;
  font-size: 128px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home-1__title .fo {
  color: #FFF;
  font-family: "Bilbo Swash Caps";
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-1__lotus {
  position: absolute;
  bottom: -20px;
  z-index: 4;
  animation: float 6s ease-in-out infinite;
}

.home-1__lotus--left {
  left: 20%;
  width: 275px;
  animation-delay: -2s;
}

.home-1__lotus--right {
  right: 33%;
  width: 400px;
}

/* ===== HOME SECTION 2: WELCOME TO my Vietnameseland (Left Align) ===== */
.home-2 {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home-2__canvas-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.home-2__canvas-bg canvas {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.6;
  transform: scale(1.25);
  transform-origin: center center;
}

.home-2__bg {
  display: none;
}

.home-2__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 106px;
  padding-top: 200px;
  position: relative;
  top: 110px;
  z-index: 2;
}

.home-2__text {
  flex: 1;
}

.home-2__welcome {
  font-family: var(--font-pixel);
  font-size: 120px;
  color: var(--color-white);
  line-height: 1;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.home-2__welcome .welcome {
  display: block;
  font-family: Handjet;
  font-weight: 300;
}

.home-2__welcome .to {
  display: block;
  font-family: Handjet;
  font-weight: 300;
  position: relative;
  left: 0;
}

.home-2__welcome .my {
  font-family: "Bilbo Swash Caps";
  font-size: 128px;
  font-style: normal;
  line-height: normal;
  display: inline-block;
  color: var(--color-cream);
}

.home-2__welcome .land {
  color: #FFF;
  position: relative;
  top: -25px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Handjet;
  font-size: 128px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  display: block;
}

.home-2__lotus {
  position: absolute;
  bottom: -20px;
  z-index: 4;
  animation: float 6s ease-in-out infinite;
}

.home-2__lotus--left {
  left: 20%;
  width: 275px;
  animation-delay: -2s;
}

.home-2__lotus--right {
  right: 33%;
  width: 400px;
}

/* ===== MOBILE STYLES (max-width: 576px) ===== */
@media (max-width: 576px) {
  /* Scale factor: 375/440 = 0.852 */
  
  /* === HOME 1: DoraChann Portfolio (Right Align) === */
  /* Figma Design 78:158 - Frame: 440x956px */
  .home-1 {
    min-height: 100vh;
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  
  .home-1__content {
    padding: 0 !important;
    top: 0 !important;
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 100vh;
  }
  
  .home-1__portfolio {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  
  /* Position elements relative to section, not content container */
  .home-1__portfolio {
    position: static !important;
  }
  
  /* DoraChann - Figma: left 394px (with translate-x-[-100%] = right align) */
  /* Frame: 440px, right = 440 - 394 = 46px */
  /* Scaled: right = 46 * 0.852 = 39px, top = 261 * 0.852 = 222px */
  .home-1__name {
    position: absolute !important;
    right: 39px !important; /* Scaled: (440 - 394) * 0.852 = 39px */
    top: 222px !important; /* Scaled: 261 * 0.852 = 222px - relative to .home-1 section */
    left: auto !important;
    font-size: 55px !important; /* Scaled: 64 * 0.852 = 55px */
    font-weight: 300;
    line-height: 61px; /* Scaled: 71.5 * 0.852 = 61px */
    text-align: right;
    margin: 0 !important;
    width: auto;
    z-index: 10;
  }
  
  .home-1__name .chann {
    font-size: 55px;
    font-weight: 300;
  }
  
  /* PortfoLio - Figma: left 399px (with translate-x-[-100%] = right align) */
  /* Frame: 440px, right = 440 - 399 = 41px */
  /* Scaled: right = 41 * 0.852 = 35px, top = 318 * 0.852 = 271px */
  .home-1__title {
    position: absolute !important;
    right: 35px !important; /* Scaled: (440 - 399) * 0.852 = 35px */
    top: 271px !important; /* Scaled: 318 * 0.852 = 271px - relative to .home-1 section */
    left: auto !important;
    font-size: 109px !important; /* Scaled: 128 * 0.852 = 109px */
    font-weight: 300 !important;
    line-height: 122px; /* Scaled: 143 * 0.852 = 122px */
    text-align: right;
    margin: 0 !important;
    width: auto;
    z-index: 10;
  }
  
  .home-1__title .fo {
    font-size: 109px;
    font-family: "Bilbo Swash Caps";
  }
  
  .home-1__lotus {
    position: absolute;
    z-index: 4;
    animation: float 6s ease-in-out infinite;
  }
  
  /* Lotus Left - Increased 10%: width 249px -> 274px, moved left 5px */
  .home-1__lotus--left {
    left: -21px !important; /* -16px - 5px = -21px */
    width: 274px !important; /* 249px * 1.1 = 274px */
    height: auto;
    animation-delay: -2s;
  }
  
  /* Lotus Right - Increased 10%: width 150px -> 165px, moved left 10px */
  .home-1__lotus--right {
    left: 231px !important; /* 241px - 10px = 231px */
    width: 165px !important; /* 150px * 1.1 = 165px */
    height: auto;
    right: auto !important;
  }
  
  /* === HOME 2: WELCOME TO my Vietnameseland (Left Align) === */
  /* Figma Design 78:167 - Frame: 440x956px */
  .home-2 {
    min-height: 100vh;
    position: relative;
    padding: 0;
    overflow: hidden;
  }
  
  .home-2__content {
    padding: 0 !important;
    top: 0 !important;
    margin: 0 !important;
    width: 100%;
    max-width: 100%;
    position: static !important; /* Static so children position relative to .home-2 */
    min-height: 0;
  }
  
  /* Position elements relative to section, not content container */
  .home-2__text {
    position: static !important;
  }
  
  /* WELCOME container - needs to be relative for absolute children */
  .home-2__welcome {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .home-2__welcome .welcome {
    font-weight: 300 !important;
    display: block;
    position: absolute !important;
    left: 88px !important; /* Scaled: 103 * 0.852 = 88px */
    top: 243px !important; /* Scaled: 285 * 0.852 = 243px - relative to .home-2 section */
    margin: 0 !important;
    font-size: 55px !important; /* Scaled: 64 * 0.852 = 55px */
    line-height: 61px;
    color: #FFF;
    z-index: 10;
  }
  
  /* TO - Figma: left 205px, top 342px, font-size 64px, weight 600, LEFT */
  /* Scaled: left 175px, top 291px */
  .home-2__welcome .to {
    font-size: 55px !important;
    font-weight: 300 !important;
    display: block;
    position: absolute !important;
    left: 175px !important; /* Scaled: 205 * 0.852 = 175px */
    top: 291px !important; /* Scaled: 342 * 0.852 = 291px - relative to .home-2 section */
    margin: 0 !important;
    color: #FFF;
    line-height: 61px;
    z-index: 10;
  }
  
  /* my - Figma: left 255px, top 342px, font-size 64px, Bilbo Swash Caps, LEFT */
  /* Scaled: left 217px, top 291px */
  .home-2__welcome .my {
    font-size: 55px !important;
    font-family: "Bilbo Swash Caps";
    display: block;
    position: absolute !important;
    left: 217px !important; /* Scaled: 255 * 0.852 = 217px */
    top: 291px !important; /* Scaled: 342 * 0.852 = 291px - relative to .home-2 section */
    margin: 0 !important;
    color: #FFF;
    line-height: 61px;
    z-index: 10;
  }
  
  /* Vietnameseland - Figma: left 51px, top 399px, font-size 64px, weight 300, LEFT */
  /* Scaled: left 43px, top 340px */
  .home-2__welcome .land {
    font-size: 55px !important;
    font-weight: 200 !important;
    display: block;
    position: absolute !important;
    left: 43px !important; /* Scaled: 51 * 0.852 = 43px */
    top: 340px !important; /* Scaled: 399 * 0.852 = 340px - relative to .home-2 section */
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 !important;
    color: #FFF;
    line-height: 61px;
    z-index: 10;
  }
  
  .home-2__lotus {
    position: absolute;
    z-index: 4;
    animation: float 6s ease-in-out infinite;
  }
  
  /* Lotus Left - Increased 10%: width 249px -> 274px, moved left 5px */
  .home-2__lotus--left {
    left: -21px !important; /* -16px - 5px = -21px */
    width: 274px !important; /* 249px * 1.1 = 274px */
    height: auto;
    animation-delay: -2s;
  }
  
  /* Lotus Right - Increased 10%: width 150px -> 165px, moved left 10px */
  .home-2__lotus--right {
    left: 231px !important; /* 241px - 10px = 231px */
    width: 165px !important; /* 150px * 1.1 = 165px */
    height: auto;
    right: auto !important;
  }
}

