.dragonEn {
  width: 440px;
  height: 956px;
  background-color: rgb(0, 0, 0);
}

.dragonEn-line-1 {
  width: 399px;
  height: 0.00003488168783860601px;
  opacity: undefined;
}

.dragonEn-logo-web-1 {
  width: 40px;
  height: 46px;
  opacity: undefined;
}

.dragonEn-dragon-of-the-trần-dynasty-2 {
  width: 168.00001669775065px;
  height: 382.0000073435133px;
  opacity: undefined;
}

.dragonEn-from-my-perspective {
  width: 183px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 40px;
  font-weight: 600;
  line-height: 44.70588302612305px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-culture-expresses-the-identity-of-a-nation. {
  width: 200px;
  height: 54px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.823528289794922px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-culture-expresses-the-identity-of-a-nation. {
  width: 234.79238130746853px;
  height: 60.4829369920235px;
  background-color: rgb(65, 217, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 200;
  line-height: 24.204544067382812px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-when-culture-endures,-the-nation-endures;-when-culture-is-lost,-the-nation-is-lost. {
  width: 225px;
  height: 108px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 24px;
  font-weight: 500;
  line-height: 26.823528289794922px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-when-culture-endures,-the-nation-endures;-when-culture-is-lost,-the-nation-is-lost. {
  width: 242px;
  height: 102px;
  background-color: rgb(255, 113, 231);
  font-family: Inter;
  font-size: 20px;
  font-weight: 200;
  line-height: 24.204544067382812px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-general-secretary-nguyễn-phú-trọng---national-culture-conference-2021 {
  width: 392px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.882352828979492px;
  text-align: RIGHT;
  opacity: undefined;
}

.dragonEn-pattern2-1 {
  width: 106.00000181226642px;
  height: 108.00001689620893px;
  opacity: undefined;
}

.dragonEn-rectangle-2 {
  width: 167px;
  height: 42px;
  background-color: rgb(255, 231, 171);
  opacity: undefined;
}

.dragonEn-read-more-about-me {
  width: 109px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  font-family: Handjet;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.882352828979492px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-rectangle-3 {
  width: 171px;
  height: 42px;
  background-color: rgb(255, 231, 171);
  opacity: undefined;
}

.dragonEn-go-back-to-vietnamese {
  width: 121px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  font-family: Handjet;
  font-size: 16px;
  font-weight: 600;
  line-height: 17.882352828979492px;
  text-align: LEFT;
  opacity: undefined;
}

.dragonEn-menu {
  width: 38px;
  height: 38px;
  opacity: undefined;
}

