/* === HOME2 MOBILE LAYOUT === */
/* Frame: 440x956px -> Scaled to 375px width */

.hero__welcome span:first-child {
  /* Figma: 64px, 600, LEFT */
  font-size: 55px;
  font-weight: 600;
  line-height: 61px;
  text-align: left;
  /* Position: 23.41% from left, 29.81% from top */
}

.hero__welcome .to {
  /* Figma: 64px, 600, LEFT */
  font-size: 55px;
  font-weight: 600;
  line-height: 61px;
  text-align: left;
  /* Position: 46.59% from left, 35.77% from top */
}

.hero__welcome .my {
  /* Figma: 64px, 400, LEFT */
  font-size: 55px;
  font-weight: 400;
  line-height: 68px;
  text-align: left;
  /* Position: 57.95% from left, 35.77% from top */
}

.hero__welcome .land {
  /* Figma: 64px, 300, LEFT */
  font-size: 55px;
  font-weight: 300;
  line-height: 61px;
  text-align: left;
  /* Position: 11.59% from left, 41.74% from top */
}

