.home1 {
  width: 440px;
  height: 956px;
  background-color: rgb(255, 255, 255);
}

.home1-ảnh-màn-hình-2025-12-18-lúc-02.49.12-2 {
  width: 1274px;
  height: 997px;
  opacity: undefined;
}

.home1-pattern-3-3 {
  width: 176px;
  height: 313px;
  opacity: undefined;
}

.home1-pattern-3-4 {
  width: 292px;
  height: 521px;
  opacity: undefined;
}

.home1-dorachann {
  width: 228px;
  height: 72px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 64px;
  font-weight: 300;
  line-height: 71.52941131591797px;
  text-align: RIGHT;
  opacity: undefined;
}

.home1-portfolio {
  width: 358px;
  height: 160px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 128px;
  font-weight: 600;
  line-height: 143.05882263183594px;
  text-align: RIGHT;
  opacity: undefined;
}

.home1-line-1 {
  width: 399px;
  height: 0.00003488168783860601px;
  opacity: undefined;
}

.home1-logo-web-1 {
  width: 40px;
  height: 46px;
  opacity: undefined;
}

.home1-menu {
  width: 38px;
  height: 38px;
  opacity: undefined;
}

