/* === HOME1 MOBILE LAYOUT === */
/* Frame: 440x956px -> Scaled to 375px width */

.hero__name {
  /* Figma: 64px, 300, RIGHT */
  font-size: 55px;
  font-weight: 300;
  line-height: 61px;
  text-align: right;
  /* Position: 37.73% from left, 27.30% from top */
}

.hero__title {
  /* Figma: 128px, 600, RIGHT */
  font-size: 109px;
  font-weight: 600;
  line-height: 122px;
  text-align: right;
  /* Position: 9.32% from left, 33.26% from top */
}

