.home2 {
  width: 440px;
  height: 956px;
  background-color: rgb(255, 255, 255);
}

.home2-ảnh-màn-hình-2025-12-18-lúc-02.49.12-2 {
  width: 1274px;
  height: 997px;
  opacity: undefined;
}

.home2-pattern-3-3 {
  width: 176px;
  height: 313px;
  opacity: undefined;
}

.home2-pattern-3-4 {
  width: 292px;
  height: 521px;
  opacity: undefined;
}

.home2-welcome {
  width: 187px;
  height: 72px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 64px;
  font-weight: 600;
  line-height: 71.52941131591797px;
  text-align: LEFT;
  opacity: undefined;
}

.home2-to {
  width: 46px;
  height: 72px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 64px;
  font-weight: 600;
  line-height: 71.52941131591797px;
  text-align: LEFT;
  opacity: undefined;
}

.home2-my {
  width: 52px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  font-family: Bilbo Swash Caps;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
  text-align: LEFT;
  opacity: undefined;
}

.home2-vietnameseland {
  width: 338px;
  height: 72px;
  background-color: rgb(255, 255, 255);
  font-family: Handjet;
  font-size: 64px;
  font-weight: 300;
  line-height: 71.52941131591797px;
  text-align: LEFT;
  opacity: undefined;
}

.home2-line-1 {
  width: 399px;
  height: 0.00003488168783860601px;
  opacity: undefined;
}

.home2-logo-web-1 {
  width: 40px;
  height: 46px;
  opacity: undefined;
}

.home2-menu {
  width: 38px;
  height: 38px;
  opacity: undefined;
}

