.preview2 {
  width: 440px;
  height: 956px;
  background-color: rgb(0, 0, 0);
}

.preview2-rectangle-7 {
  width: 203px;
  height: 337px;
  opacity: undefined;
}

.preview2-line-1 {
  width: 399px;
  height: 0.00003488168783860601px;
  opacity: undefined;
}

.preview2-logo-web-1 {
  width: 40px;
  height: 46px;
  opacity: undefined;
}

.preview2-menu {
  width: 38px;
  height: 38px;
  opacity: undefined;
}

.preview2-rectangle-6 {
  width: 203px;
  height: 337px;
  opacity: undefined;
}

.preview2-rectangle-5 {
  width: 318px;
  height: 586px;
  opacity: undefined;
}

.preview2-rectangle-8 {
  width: 179px;
  height: 53px;
  background-color: rgb(255, 231, 171);
  opacity: undefined;
}

.preview2-see-more {
  width: 122px;
  height: 21px;
  background-color: rgb(0, 0, 0);
  font-family: Handjet;
  font-size: 20px;
  font-weight: 600;
  line-height: 22.352941513061523px;
  text-align: CENTER;
  opacity: undefined;
}

