.preview1 {
  width: 440px;
  height: 956px;
  background-color: rgb(0, 0, 0);
}

.preview1-line-1 {
  width: 399px;
  height: 0.00003488168783860601px;
  opacity: undefined;
}

.preview1-logo-web-1 {
  width: 40px;
  height: 46px;
  opacity: undefined;
}

.preview1-menu {
  width: 38px;
  height: 38px;
  opacity: undefined;
}

.preview1-vision-slogan-left-01-1 {
  width: 203px;
  height: 332px;
  opacity: undefined;
}

.preview1-slogan-vision-animation-1 {
  width: 112px;
  height: 363px;
  opacity: undefined;
}

.preview1-vison-slogan-right-1 {
  width: 111px;
  height: 299px;
  opacity: undefined;
}

.preview1-hanged-curtain-1 {
  width: 1139px;
  height: 413px;
  opacity: undefined;
}

